/* CSS reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*default body*/
body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  user-select: none;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 1rem 1rem;
}

.main a,
.header__nav a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: magenta;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

li a:hover {
  color: magenta;
}

button,
.admin__button,
.product__page--add-to-cart,
.product__page--add-to-favorites,
.guest-button {
  padding: 0.8rem 1.2rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover,
.admin__button:hover,
.product__page--add-to-cart:hover,
.guest-button:hover {
  background: magenta;
  color: white;
}


.site__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#header__logotyp {
  min-width: 300px;
  max-width: 500px;
}

.header__top {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header__search {
  flex: 1;
}

.site__header .favicons {
  display: flex;
  gap: 1rem;
}

.nav__icons--basket-wrapper{
  position: relative;
  width: 2rem;
}

.nav__icons--basket-wrapper:hover .nav__icons-basket-thick{
opacity:unset;
}

.nav__icons--basket{
  position: absolute;
  transition: opacity 0.3s ease;
}

.nav__icons-basket-thick{
  position: absolute;
  opacity: 0;
}

#basket-icon{
  position: relative;
  top: 2px;
}

.nav__icons {
  width: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  align-items: flex-start;
}

.search__bar {
  padding: 1rem;
  border-radius: 50px;
  width: 100%;
}

.search__bar:hover {
  border-color: magenta;
}

.header__search {
  position: relative;
}

.header__icons {
  display: flex;
  gap: 1rem;
}



#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
 
  z-index: 1000;
}

.search-result {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
}

.search-result--active {
  background: #f5f5f5;
}

.search-result--active h4,
.search-result--active p {
  color: magenta;
}

.search-result:hover {
  background: #f5f5f5;
}

.search-result__image {
  width: 60px;
  height: 80px;
  object-fit: cover;
}

.search-result--active {
  background: #f0f0f0;
}

.favorites-header {
  position: relative;
  display: inline-block;
}



.icon-count {
  position: absolute;
  top: -8px;
  right: -6px;
  
  width: 18px;
  height: 18px;

  border-radius: 50%;

  background: rgb(247, 30, 182);
  color: white;

  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-header {
  position: relative;
  display: inline-block;
}

.favorites-header,
.basket-header {
  position: relative;
  display: inline-block;
}

.favorites-header img,
.basket-header img {
  position: relative;
  z-index: 2;
}

.icon-count {
  z-index: 1;
}

.nav__icons {
  filter: invert(18%) sepia(88%) saturate(7483%) hue-rotate(293deg);
  transition: filter 0.3s ease;
  width: 2rem;
}

.nav__icons:hover {
  filter: invert(24%) sepia(98%) saturate(8200%) hue-rotate(305deg)
    brightness(125%) contrast(115%);
}

.main > * {
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.hero__video {
  width: 100%;
  height: 100%;
}

.hero__info {
  text-align: center;
}

.hero__info--1024-wrapper {
  display: none;
}

.spots {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product__card--wrapper {
  position: relative;
}

.product__card--image-container {
  position: relative;
  width: 100%;
  min-height: 40rem;
}

.product__card--image-front {
  z-index: 1;
}

.product__card--image-front:hover {
  opacity: 0;
}

.product__card--image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product__card--icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  transition: filter 0.3s ease;
  min-width: 10rem;
}

.icon-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
}

/* stack both images on top of each other */
.icon-toggle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}

/* default state = empty visible */
.icon-toggle__fill {
  opacity: 0;
  z-index: 2;
}

.icon-toggle:hover .icon-toggle__fill {
  opacity: 1;
}

.icon-toggle__empty {
  opacity: 1;
}

.icon-toggle.active .icon-toggle__empty {
  opacity: 0;
}

.icon-toggle.active .icon-toggle__fill {
  opacity: 1;
}

.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.product__card--icons{
  display: flex;
  align-items: center;
  min-width: 5rem;
  justify-content: space-between;
  padding: 7px 10px;
}

#product__card--heart:hover #product__card--heart-fill {
  opacity: 1;
}

#heart__icon:hover,
#shopping__icon:hover,
#login__icon:hover,
#product__card--basket:hover,
#product__card--heart:hover {
  filter: invert(17%) sepia(94%) saturate(7492%) hue-rotate(289deg)
    brightness(95%) contrast(105%);
 
  
  
}

.nyheter {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  background-color: black;
  color: white;
  padding: 0.8rem;
  border: none;
  z-index: 10;
}

.heart__icon--nofill {
  top: 37rem;
  right: 1rem;
  width: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  transition: filter 0.3s ease;
}

#heart__icon,
#shopping__icon,
#login__icon {
  filter: invert(18%) sepia(88%) saturate(7483%) hue-rotate(293deg);
  transition: filter 0.3s ease;
  cursor: pointer;
}

#heart__icon:hover,
#shopping__icon:hover,
#login__icon:hover {
  filter: invert(24%) sepia(98%) saturate(8200%) hue-rotate(305deg)
    brightness(125%) contrast(115%);
}

.services-items {
  padding-bottom: 1rem;
}

.services-items li {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.product__card--info{
  display: flex;
  justify-content: space-between;
}

.product__card--info--header {
  display: flex;
  flex-direction: column;
}

.services-items li {
  cursor: pointer;
}

.services-items li:hover {
  color: magenta;
}

.accordion-item input {
  display: none;
}

.accordion {
  display: grid;
}

.accordion-header {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.accordion-content {
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 2rem;
}

.accordion-content li,
.accordion-content a {
  padding: 4px;
  color: whitesmoke;
  list-style: none;
  text-decoration: none;
}

.accordion-item input:checked + .accordion-header::after {
  content: "-";
}

.accordion-item input:checked + .accordion-header + .accordion-content {
  max-height: 300px;
}

.carousel {
  display: none;
}

.product__page--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__page--button-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:4px;
  height: 5rem;
}

.product__page--add-to-cart {
  padding: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width:9rem;
}

.product__page--add-to-favorites {
  padding: 1rem;
  background-color: magenta;
  color: white;
  border: none;
  cursor: pointer;
  width: 9rem;
}

input[type="radio"] {
  display: block;
}

.product__page--add-to-cart:hover {
  border: 3px solid magenta;
}

.product__page--add-to-favorites:hover {
  border: 3px solid black;
}

.product__page--header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  padding: 0rem 1rem;
}

input[type="radio"] {
  display: none;
}

/* -------- login page -------------*/

.login-page{
  height:100%;
  overflow: hidden;
}

.auth {
  display: flex;
  justify-content: center;
  gap:3rem;
  height: 100%;

  min-height: 100dvh;
}

.auth__container {
  width: 100%;
  height: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.auth__subtitle {
  color: #666;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}

.auth__form h2 {
  margin-bottom: 0.5rem;
}

.auth__form input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.auth__form input:focus {
  border-color: #ff00ff;
}

.auth__form button {
  padding: 0.8rem;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.auth__form button:hover,
.guest-button:hover{
  background: magenta;
  color: white;
}

.guest-button {
  display: inline-block;
  padding: 10px 16px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.login__site--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__header--items{
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.login__hero--video{
  max-width: 40rem;
  height: 100%;
  object-fit: cover;
  overflow: idden;;
}

.favorites__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------FAVORITES------------*/
.favorites__main .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.favorites__main .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.favorites__main .product__card {
  width: 320px;
  flex: 0 0 320px;
}

.favorites__main .product__card--image-container {
  min-height: 24rem;
}

/*-------------CHECKOUT------------*/

.empty__shopping-basket{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  min-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}




.basket-empty-img{
  object-fit: cover;
  
}

.checkout__main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 70vh;
}

.checkout__hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100rem;
  
}

.product__page--checkout-items{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.product__page--checkout-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}



.product__page--purchase-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.checkout__image{
  width: 20rem;
  height: 20rem;
  object-fit: cover;;
}



.product__page--purchase-box .product__card--image-front{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  overflow: hidden;
}

.product__page--trash {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.trash-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.checkout__page--payment{
  

  min-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: sticky;
  top: 2rem;
}

.checkout__page--payment-items{
  display: flex;
  gap:7rem;
}



@media (min-width: 640px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    width:100%;

  }

  .site__header {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  .header__top {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__search {
    max-width: 40rem;
  }

  nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  .services-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }

  .accordion-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
  }

  .accordion-header {
    padding-left: 0.5rem;
  }

  .accordion-header::after {
    display: none;
  }

  .accordion-content {
    max-height: none;
    padding: 0rem 0rem 1rem 0rem;
  }

  .accordion-item {
    border-bottom: none;
  }

  .product__page {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
  }

  .product__page a {
    width: 80%;
  }

  .product__page--image-wrapper {
    width: 100%;
    height: 80%;
    overflow: hidden;
  }

  .carousel__wrapper {
    max-width: 90%;
    margin: 0px auto;
    position: relative;
    padding: 1rem;
  }

  .carousel__wrapper input[type="radio"] {
    display: none;
  }

  .carousel-item a {
    color: white;
  }

  .carousel {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    width: max-width;
    gap: 2rem;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    flex: 0 0 calc((100% - 4rem) / 3);
  }

  #slide1:checked ~ .carousel .carousel-track {
    transform: translateX(0%);
  }

  #slide2:checked ~ .carousel .carousel-track {
    transform: translateX(calc(-100% / 0.985));
  }

  .carousel h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .carousel-item {
    font-size: smaller;
  }

  .card {
    background: #f5f5f5;
    height: 100%;
    padding-bottom: 2rem;
  }

  .card:hover {
    color: magenta;
  }

  .card img {
    width: 100%;
    height: auto; /* updated height */
    object-fit: cover;
  }

  .card-categories {
    display: grid;
  }

  .carousel__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    background: rgba(228, 11, 181, 0.7);
    color: white;
    padding: 0.5rem 1.5rem;
    z-index: 10;
    user-select: none;
    border-radius: 5px;
  }

  .carousel__nav:hover {
    border: 2px solid magenta;
    background: rgba(228, 11, 181, 0.8);
  }

  .prev {
    left: 0;
    margin: 0 auto;
  }

  .next {
    right: 0;
  }
}

/*----------------Administration-----------------*/

.admin__header .site__header{
  height: 4rem;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.admin__main {
  display: flex;
}

.admin__kategorier {
  background-color: #504f4f;
  width: 15rem;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.8rem;
}

.produkter {
  flex: 1;
  padding: 2rem;
}

.admin__table {
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
}

.admin__table th,
.admin__table td {
  padding: 1rem;
  text-align: left;
}

/* Namn */
.admin__table th:nth-child(1),
.admin__table td:nth-child(1) {
  width: 50%;
}

/* SKU */
.admin__table th:nth-child(2),
.admin__table td:nth-child(2) {
  width: 25%;
}

/* Pris */
.admin__table th:nth-child(3),
.admin__table td:nth-child(3) {
  width: 10%;
}

/* Ikoner */
.admin__table th:nth-child(4),
.admin__table td:nth-child(4) {
  width: 5%;
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons img {
  width: 1.5rem;
  height: 1.5rem;
}

.admin__header{
  margin: 0;
}

.admin__forms {
  flex: 1;
  padding: 2rem;
}

.admin__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 45rem;
}

.admin__form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
}

.admin__edit-images {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.admin__edit-image-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.admin__preview-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  display: block;
  border: 1px solid #ccc;
}

.admin__button {
  width: fit-content;
}

.admin__delete-form {
  margin: 0;
}

.admin__icon-button img,
.penna img {
  width: 1.25rem;
  height: 1.25rem;
}

.admin__icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


@media (min-width: 1024px) {

  .hero {
    display: flex;
    flex-direction: row-reverse;
    height: 30rem;
    width: 100%;
    gap: 2rem;
  }

  .hero__video {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hero__video,
  .hero__info--1024 {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  .hero__info {
    display: none;
  }

  .hero__info--1024-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__info--1024 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }

  .spots {
    display: flex;
    gap: 1rem;
  }

  .spots__card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 30rem;
    width: 100%;
  }

  .spots__card--overlay {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .spots__card--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .spots__card--overlay h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .spots__card:hover .spots__card--overlay {
    color: magenta;
    opacity: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .services-items {
    grid-template-columns: repeat(4, auto);
  }
}
