/* CSS reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*default body*/
body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  user-select: none;
}

header {
  margin: 1rem 1rem;
}



.main a,
.header__nav a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: magenta;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

li a:hover{
  color: magenta;
}

.site__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#header__logotyp {
  max-width: 500px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header__search {
  flex: 1;
}

.site__header .favicons {
  display: flex;
  gap: 1rem;
}

.nav__icons {
  width: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  align-items: flex-start;
}

.search__bar {
  padding: 1rem;
  border-radius: 50px;
  width: 100%;
}

.search__bar:hover {
  border-color: magenta;
}

.main > * {
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.hero__video {
  width: 100%;
  height: 100%;
}

.hero__info {
  text-align: center;
}

.hero__info--1024-wrapper {
  display: none;
}

.spots {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product__card--wrapper {
  position: relative;
}

.product__card--image-container {
  position: relative;
  width: 100%;
  min-height: 40rem;
}

.product__card--image-front {
  z-index: 1;
}

.product__card--image-front:hover {
  opacity: 0;
}

.product__card--image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product__card--icons {
  position: absolute;
  z-index: 2;
}

.nyheter {
  top: 1rem;
  left: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border: none;
}

.heart__icon--nofill {
  top: 37rem;
  right: 1rem;
  width: 2rem;
  filter: invert(18%) sepia(88%) saturate(7483%) hue-rotate(293deg);
}

.services-items {
  padding-bottom: 1rem;
}

.services-items li {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.product__card--info--header {
  display: flex;
  justify-content: space-between;
}

.services-items li{
  cursor: pointer;
}

.services-items li:hover{
  color: magenta;
}

.accordion-item input {
  display: none;
}

.accordion {
  display: grid;
}

.accordion-header {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.accordion-content {
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 2rem;
}

.accordion-content li,
.accordion-content a {
  padding: 4px;
  color: whitesmoke;
  list-style: none;
  text-decoration: none;
}

.accordion-item input:checked + .accordion-header::after {
  content: "-";
}

.accordion-item input:checked + .accordion-header + .accordion-content {
  max-height: 300px;
}

.carousel {
  display: none;
}

.product__page--image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__page--add-to-cart {
  padding: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="radio"] {
  display:block;
}

.product__page--add-to-cart:hover {
 background-color: magenta;
}

.product__page--header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  padding: 0rem 1rem;
}

input[type="radio"] {
  display:none;
}


@media (min-width: 640px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .site__header {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  .header__top {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__search {
    max-width: 40rem;
  }

  #header__logotyp {
    min-width: 300px;
  }

  nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  .services-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }

  .accordion-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
  }

  .accordion-header {
    padding-left: 0.5rem;
  }

  .accordion-header::after {
    display: none;
  }

  .accordion-content {
    max-height: none;
    padding: 0rem 0rem 1rem 0rem;
  }

  .accordion-item {
    border-bottom: none;
  }

  .product__page{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    height:100%;
    width: 100%;
  }

  .product__page a{
    width: 80%
  }


  .product__page--image-wrapper {
    width: 100%;
    height: 80%;
    overflow: hidden;
  }



    .carousel__wrapper {
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    padding: 1rem;
  }

.carousel__wrapper input[type="radio"] {
  display: none;
}

  .carousel-item a {
    color: white;
  }

  .carousel {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    width: max-width;
    gap: 2rem;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    flex: 0 0 calc((100% - 4rem) / 3);
  }

   #slide1:checked ~ .carousel .carousel-track {
    transform: translateX(0%);
  }

  #slide2:checked ~ .carousel .carousel-track {
    transform: translateX(calc(-100% / 0.97));
  }

    .carousel h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .carousel-item {
    font-size: smaller;
  }

  .card {
    background: #f5f5f5;
    height: 100%;
    padding-bottom: 2rem;;
  }

  .card:hover{
    color: magenta;
  }

  .card img {
    width: 100%;
    height: auto; /* updated height */
    object-fit: cover;
  }


   .card-categories {
    display: grid;
  }

  .carousel__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  z-index: 10;
  user-select: none;
}

.prev{
  left: 0;
}

.next{
  right: 0;
}

}
@media (min-width: 1024px) {
  .header__icons {
    display: flex;
    gap: 1rem;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    height: 30rem;
    width: 100%;
    gap: 2rem;
  }

  .hero__video {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hero__video,
  .hero__info--1024 {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  .hero__info {
    display: none;
  }

  .hero__info--1024-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__info--1024 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }

  .spots {
    display: flex;
    gap: 1rem;
  }

  .spots__card {
    position: relative;
    cursor: pointer;
  }

  .spots__card--overlay {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .spots__card--overlay h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .spots__card:hover .spots__card--overlay {
    color: magenta;
    opacity: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
  }

  .spots__card--image {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .services-items {
    grid-template-columns: repeat(4, auto);
  }

}
